*{
    text-align: center;
    padding: 3px;
    margin: 3px;
    background-color: #ffc0cb;
}

body{
    font: 22px 'Roboto', sans-serif;
}

h1{
    font-size: 42px;
}
h1 + p{
    font-size: 11px;
    font-style: italic;
}

.question{
    font-weight: 700;
}

section{
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px;
    color: dimgray;
    margin-left: 200px;
    margin-right: 200px;
    /*width:auto;*/
    
}

h1 + section{
    margin-top: 10px;
}